<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW Trans_Dealer</title>
  <link rel="stylesheet" type="text/css" href="/DEALit/css/newtd.css">
	<script type="text/javascript" src="/DEALit/js/val_TD.js"></script>
</head>

<body><center>
<form id="tdinsert" name="myform" method="post" onsubmit="return insertCheck(); ">
		<div>
			<h1>NEW TransDealer</h1>
		</div>
		<div id="tinsert">
				<input type="text" id="tdname" name="tdname" placeholder="TD NAME" onkeypress='return onlyalphabets(event)'/>
		</div>
		<div id="tinsert">
			 <input type="email" id="email" name="email" placeholder="EMAIL">
		 </div>
		<table border="1">
			<tr>
				<td><b>GENDER:</b>
					<input type="radio" id="gender" name="gender" value="M">Male
					<input type="radio" id="gender" name="gender" value="F">Female
				</td>
			</tr>
		</table>
		<div id="tinsert">
			<input type="text" id="education" name="education" placeholder="EDUCATION">
		</div>
		<br>
		<div>
				<button type="submit" id="submit" name="submit" onclick="insert()">I N S E R T</button>
				<a href="/td_DASHBOARD/TD_Lists">TRANSPORT DEALERS</a>
		</div>

</form>

</center></body>
</html>
