<!DOCTYPE html>
<html>
<head>
	<title>ADD NEW VEHiCLES</title>
  <link rel="stylesheet" type="text/css" href="/DEALit/css/tdinsert.css">
	<script type="text/javascript" src="/DEALit/js/val_Vehicles.js"></script>
</head>

<body><center>

	<form id="tdinsert" method="post" onsubmit="return insertCheck(); ">

		<div>
			<h1>NEW VEHICLES</h1>
		</div>
		<div>
			 <input type="text" id="v_name" name="v_name" placeholder="Vehicle NAME" onkeypress='return onlyalphabets(event)'/>
		</div>
		<div>
			 <input type="text" id="v_type" name="v_type" placeholder="TYPES of VEHiCLES">
		</div>
		<div>
			<input type="text" id="v_distance" name="v_distance" placeholder="Routes TO TraveL">
		</div>
		<div>
			<input type="number" id="v_cost" name="v_cost" min="0" placeholder="Cost of TRAVEL">
		</div>
		<br>
		<div>
			<button type="submit" id="submit" name="submit" onclick="insert()">I N S E R T</button>
			<a href="/td_DASHBOARD/TD_Vehicles">Vehicle-List</a>
		</div>
  </form>

</center></body>
</html>
